// $breakpoints: (
//   mobile: 576px,
//   tablet: 992px,
//   desktop: 1200px,
//   laptop: 1550px,
// );

$breakpoints: (
  laptop: 1550px,
  desktop: 1200px,
  tablet: 998px,
  minitab: 766px,
  mobile: 638px,
);
