// Colors
$color-article-text: #454b57;

$color-providers-border-dark: #364661;
$color-providers-border-white: rgba(99, 127, 170, 0.3);

$color-text-black: #223150;
$color-text-gray: #637392;
$color-text-gray-lighter: #8287a6;
$color-info: $color-text-gray;
$color-info-hover: #8388a7;
$color-info-active: #595c72;

$color-white: #fff;

$color-table-border: #dbdbe2;

$color-basic-disabled: #f7f8fa;

$color-black: #000;

$color-gray: #b6bed0;
$color-gray-light: #c0c8d6;
$color-gray-main: #8a91a4;
$color-gray-border: #dce1ea;
$color-gray-bg: #f9fafc;
$color-gray-bg-light: #f1f4fa;
$color-gray-border-light: #dbe1e9;
$color-gray-silver: #bcc4d1;
$color-gray-warm-dark: #303030;
$color-gray-medium-dark: #727b89;
$color-gray-dark: #303744;
$color-disabled-background: #edf2fa;

$color-primary: #2968c8;
$color-primary-hover: #3a81ea;

$color-blue: #2968c8;
$color-blue-bg: #fafcff;
$color-blue-bg-dark: #f3f8ff;
$color-blue-light: #ddebff;
$color-blue-medium: #accdff;
$color-blue-gray: #78a6ec;

$color-blue-dark: #24559e;
$color-blue-accent: #408cff;

$color-green: #39974d;
$color-success: $color-green;
$color-green-bg: #e5fbeb;
$color-green-bg-dark: #caead1;
$color-green-border: #81d093;

$color-orange: #ff9028;
$color-orange-bg: #feebda;

$color-red: #da3640;
$color-red-bg: #fbe3e4;
